<div class="modal fade" id="userModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" ng-submit="saveUser()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtFirstName" class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="txtFirstName" ng-model="user.FirstName" class="form-control" id="txtFirstName" placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName" class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="user.LastName" class="form-control" id="txtLastName" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtUserName" class="col-sm-3 control-label">Username</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="user.Username" class="form-control" id="txtUserName" placeholder="Username" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>